@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:wght@100&display=swap');

body {
    height: 100vh;
    background: #211B1B;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.nav-container {
    background-color: rgba(174, 174, 174, 0.35);
    position: absolute;
    width: 100%;
    a {
        color: white;
        font-family: 'Nunito', sans-serif;
        letter-spacing: 0.1em;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.3em;
    opacity: 100%;
    .menu {
        img {
            width: 50%;
           
        }
    }

    ul {
        display: flex;
        a {
            display: block;
            padding: 0 1.3em;
        }
    }
}

.home {

    .home-background {
        width: 100%;
    }

    color: #F0F0F0;
    letter-spacing: 0.18em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

    #name-back {
        position: absolute;
        width: 10%;
    }
}